.mod-header {
    width: 100%;
    border-bottom: 1px solid #efefef;
    margin-bottom: 10px
}

.mod-header .header{
    width: 1000px;
    margin: 0 auto;
    height: 60px;
    overflow: hidden;
}

.mod-header .header .name{
    float: left;
    width: 150px;
    line-height: 60px;
    color: #333;
}

.mod-header .header .input-group{
    float: right;
    width: 250px;
    margin-top: 14px;
}

.mod-ctn{
    width: 700px;
    margin: 0 auto 20px;
    overflow: hidden;
}

.mod-ctn .title{
    width: 100%;
    font-size: 28px;
    padding: 25px 0 18px;
    font-weight: bolder;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    color: #333;
}

.mod-ctn .authorInfo{
    width: 100%;
    font-size: 12px;
    padding-bottom: 5px;
    color: #666;
}

.mod-ctn .content{
    padding-top:40px; 
    width: 100%;
}

.mod-footer{
    width: 100%;
    text-align: center;
    position: fixed;
    font-size: 12px;
    color: #999;
    bottom: 0;
    left: 0;
}
.mod-footer span{
    padding:0 5px;
}